.todoList {
    padding: 24px;
    font-size: 20px;
}

.title {
    font-size: 120px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    color: #ecdfdf;

   margin: 0 0 24px;
}

.input {
    width: 100%;
    padding: 14px 8px;
    border: 0;
    border-bottom: 1px solid gainsboro;
}

.border {
    background-color: white;
    width: 600px;
    /*padding: 16px;*/
    margin: 0 auto;

    box-shadow: rgb(216, 216, 218) 0px 0px 0px 2px inset, rgb(247, 246, 246) 6px 6px 0px -2px, rgb(216, 216, 218) 6px 6px, rgb(247, 246, 246) 12px 12px 0px -2px, rgb(216, 216, 218) 12px 12px;
}

.list {
    max-height: 600px;
    overflow-y: auto;
}

.item {
    padding: 14px 8px;
    border-bottom: 1px solid gainsboro;
}

.text {
    display: inline-block;
    margin-left: 14px;
}

.completed {
    .text {
        color: gainsboro;
        text-decoration: line-through;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 14px 8px;
    align-items: center;
    color: gray;
}

.filters {
    display: flex;
    gap: 8px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.filter {
    padding: 0 6px;
}

.active {
    border: 1px solid #ecdfdf;
}